.footer {
  height: 50px;
  padding: 50px;
  text-align: center;
  margin-top: 25px;

  span {
    font-weight: 200;
    font-size: 18px;
    line-height: 18px;
    animation-name: fadeInLeft;
    animation-iteration-count: initial;
    animation-duration: 0.6s;
    a {
      color: $primary-color;
    }
  }
}

@media screen and (min-width: 768px) {
  .footer {
    height: 80px;
    margin-top: 60px;

    span {
      font-size: 22px;
      line-height: 22px;
      display: block;
      padding: 20px;
    }
  }
}
