.ui__modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  background: rgba($color: $black, $alpha: 0.4);
  z-index: 100;
  width: 100%;
  height: 100%;
  align-items: center;

  .modal__container {
    width: 100%;
    display: flex;
    justify-content: center;
    .modal {
      z-index: 200;
      max-width: 600px;
      width: 100%;
      padding: 40px;
      position: relative;
      min-width: 270px;
      border-radius: 4%;
      max-width: 450px;
      background: $white;
      margin-top: 50px;
      max-height: 85vh;

      .closeIcon {
        position: absolute;
        right: 4%;
        top: 40px;
        svg {
          stroke: $white;
          width: 30px;
          height: 30px;
        }
      }
      .goback {
        position: absolute;
        left: 4%;
        top: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
        color: $white;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
        color: $black;
        svg {
          width: 30px;
          height: 30px;
          margin-right: 10px;
        }
      }

      .modal-title {
        font-weight: 700;
        font-size: 25px;
        margin-bottom: 25px;
        z-index: 100;
      }

      .modal__input {
        padding: 10px 0px 10px 10px;
        width: 100%;
        margin: 20px 0px;
        outline: none;
        max-width: 500px;

        font-size: 16px;
        color: rgba($color: $black, $alpha: 0.5);
        font-size: 16px;
        line-height: 22px;
        margin-top: 10px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        border-bottom: 2px solid rgba($color: $black, $alpha: 0.2);
        background: none;

        body.dark & {
          color: $white;
          border-bottom: 2px solid $white;

          &::placeholder {
            color: $white;
          }
        }
      }

      .modal__task-extra-info-container {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        .modal__task-extra-info-title {
          font-size: 18px;
          font-weight: 500;

          margin-bottom: 7px;
        }
        .modal__task-extra-info {
          .modal__task-extra-info-content-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;
            max-width: 140px;
            padding: 10px 10px 10px 5px;
            border-radius: 10px;
            border: 1px solid rgba($color: black, $alpha: 0.1);
            width: 100%;
            .modal__task-extra-info-content-icon {
              body.dark & {
                color: $primary-color;
              }
            }

            .modal__task-extra-info-context {
              font-weight: 700;
              color: $primary-color;
            }
          }
        }
      }

      .modal-buttonsContainer {
        display: flex;
        justify-content: right;
        width: 100%;
        margin-top: 50px;
        min-width: 235px;
        .modal-button {
          padding: 10px 15px;
          color: $black;
          border-radius: 15px;
          box-shadow: 3px 3px 5px rgba($color: $black, $alpha: 0.5);
          font-size: 16px;
          background: $white;
          font-weight: 700;
          max-height: 48px;
          max-width: 100px;
          width: 100%;
        }
        .complete,
        .add {
          background: $primary-color;
          color: $white;
        }
        .add {
          svg {
            width: 25px;
            height: 25px;
          }
        }
        .update,
        .add {
          margin-right: 15px;
        }

        .delete {
          //   background: rgba($color: red, $alpha: 0.8);
          background: $secondary-color;
          color: $white;
        }
        .update {
          background: rgba($color: $black, $alpha: 0.1);
        }
      }

      .modal__container-category {
        width: 100%;

        .Dropdown-root {
          box-shadow: 5px 5px 5px rgba($color: $black, $alpha: 0.1);
          cursor: pointer;
          width: 90%;
          text-align: center;
          margin: 40px auto;
          .Dropdown-control {
            cursor: pointer;

            background-color: $primary-color;
            border-radius: 5px;
            color: $white;
            font-size: 22px;
            border: none;
            .Dropdown-placeholder {
              cursor: pointer;

              font-size: 18px;
            }

            .Dropdown-arrow-wrapper {
              .Dropdown-arrow {
                border-color: $white transparent transparent;
              }
            }
          }
        }
        .centered {
          justify-content: center;
        }

        .modal__form-category-name {
          text-align: center;
          .modal__category-nameSelected {
            font-weight: bold;
            margin-left: 10px;
          }

          body.dark & {
            color: $primary-color;
          }
        }
        .modal__form {
          display: flex;
          justify-content: center;
          width: 100%;
          align-items: center;
          flex-direction: column;
          .modal__button-updateCategory {
            padding: 10px 15px;
            color: $black;
            border-radius: 5px;
            box-shadow: 3px 3px 5px rgba($color: $black, $alpha: 0.5);
            background: $dark-blue;
            color: $white;
            svg {
              width: 30px;
              height: 30px;
            }
          }

          .modal-button {
            padding: 10px 15px;
            color: $white;
            border-radius: 15px;
            box-shadow: 3px 3px 5px rgba($color: $black, $alpha: 0.5);
            font-size: 18px;
            background: $primary-color;
            font-weight: 700;
            max-height: 48px;
            max-width: 100px;
            width: 100%;
          }

          .modal__goback {
            color: $black;
            margin-right: 15px;
            background: rgba($color: $black, $alpha: 0.1);
          }
        }
      }
      // dark-mode
    }
    .modal__picture {
      display: flex;
      justify-content: center;
      width: 150px;
      height: 150px;
      border-radius: 100%;
      overflow: hidden;
      margin: -10px auto 10px auto;
      background: $white;
      margin-top: 20px;
      animation-name: fadeInUp;
      animation-iteration-count: initial;
      animation-duration: 0.6s;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }
}

.openModal {
  animation-name: modalOpen;
  animation-iteration-count: initial;
  animation-duration: 0.5s;
}

@media screen and (min-width: 768px) {
  .ui__modal-container {
    .modal__container {
      .modal {
        padding: 40px;
        width: 90%;
        // max-height: 93vh;

        .modal-title {
          font-size: 32px;
          line-height: 35px;
          margin-bottom: 15px;
        }

        .ui__modal-title {
          font-size: 36px;
          line-height: 36px;
          margin-left: 25px;
          padding: 20px;
          margin-bottom: 20px;
          svg {
            width: 45px;
            height: 45px;
            margin-right: 10px;
            stroke: rgba($color: $black, $alpha: 0.9);
          }
        }
        .closeIcon {
          z-index: 200;
          cursor: pointer;
          top: 35px;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 5px;
          transition: 0.4s ease all;
          &:hover {
            border-radius: 100%;
            background: rgba($color: $black, $alpha: 0.1);
          }
          svg {
            width: 45px;
            height: 45px;
          }
        }

        .goback {
          top: 35px;
          z-index: 200;
          padding: 5px;
          &:hover {
            background: rgba($color: $black, $alpha: 0.1);
            border-radius: 5px;
          }
        }
        .modal__input {
          padding: 13px;
          margin-bottom: 10px;
          font-size: 22px;
          line-height: 28px;
          margin-top: 45px;
          cursor: pointer;
        }
        .modal__date,
        .modal__taskcategory {
          font-size: 22px;
          line-height: 25px;
          font-weight: 900;
        }

        .modal-buttonsContainer {
          margin-top: 60px;

          .modal-button {
            padding: 10px 25px;
            transition: ease all 0.4s;
            font-size: 18px;
            cursor: pointer;
            &:hover {
              opacity: 0.9;
            }
          }
          .update {
            svg {
              width: 28px;
              height: 28px;
            }
          }
          .complete {
            svg {
              width: 35px;
              height: 35px;
            }
          }
          .delete {
            svg {
              width: 30px;
              height: 30px;
            }
          }
          .add {
            svg {
              width: 30px;
              height: 30px;
            }
          }
        }
        .modal__container-category {
          .modal__form {
            margin-top: 20px;
            .modal__button {
              transition: 0.3s ease all;
              &:hover {
                opacity: 0.9;
                cursor: pointer;
              }
            }
            .modal__goback {
              cursor: pointer;
              transition: 0.3s ease all;

              svg {
                width: 35px;
                height: 35px;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes modalOpen {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
