.modal__task {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  margin: 0px auto 40px auto;

  .modal__task-inputGroup {
    width: 100%;
    justify-content: center;
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    background: none;
    position: relative;
  }
  .modal__input-container {
    width: 100%;
    margin-top: 0px;
    .modal__input {
      margin: 0px;
    }
    .title {
      padding-left: 10px;
      margin-top: 10px;
    }
    body.dark & {
      .title {
        color: rgba($color: $white, $alpha: 0.5);
      }
    }
  }

  .modal__task__input {
    width: 100%;
    max-width: 500px;
    outline: none;
    padding: 10px 0px 10px 10px;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 10px;
    margin-top: 30px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    border-bottom: 2px solid rgba($color: $black, $alpha: 0.2);
    background: none;

    body.dark & {
      border-bottom: 2px solid $primary-color;
      color: $white;
    }

    &::placeholder {
      font-size: 16px;
      line-height: 20px;
      color: $black rgba($color: $black, $alpha: 0.1);
    }
    &:focus {
      border-bottom: 2px solid rgba($color: $black, $alpha: 0.5);
    }
  }
  .modal__task__dropdown-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 0px 20px 0px;
    .Dropdown-root {
      width: 90%;
      margin-right: 5px;
      .Dropdown-control {
        background-color: $primary-color;
        border-radius: 5px;
        color: $white;
        font-size: 22px;
        border: none;
        cursor: pointer;

        .Dropdown-placeholder {
          font-size: 18px;
          cursor: pointer;
        }
        .Dropdown-arrow-wrapper {
          .Dropdown-arrow {
            border-color: $white transparent transparent;
          }
        }
      }
    }
    .modal__task__span-icon {
      padding: 9px;
      background: rgba($color: $black, $alpha: 0.1);
      border-radius: 5px;
      color: $black;
      cursor: pointer;
      body.dark & {
        color: $white;
      }
    }
  }

  .modal__task__button-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: static !important;
    margin-top: 30px;
  }

  .modal-button {
    padding: 10px 20px;
    color: $black;
    border-radius: 15px;
    box-shadow: 3px 3px 5px rgba($color: $black, $alpha: 0.5);
    font-size: 16px;
    background: rgba($color: $black, $alpha: 0.1);
    width: 100%;
    max-width: 100px;
    text-align: center;
  }
  .add {
    background: $primary-color;
    color: $white;
  }
  .cancel {
    margin-right: 15px;
  }
}

@media screen and(min-width: 768px) {
  .modal__task {
    margin-top: 40px;
    .modal__task-inputGroup {
      margin-bottom: 30px;
    }
    .modal__task__input {
      margin-bottom: 10px;
      line-height: 28px;
      font-size: 20px;
      padding: 15px 0px 15px 10px;
      &::placeholder {
        font-size: 20px;
        line-height: 28px;
      }
    }
    .modal__task__dropdown-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px 0px 20px 0px;
      .Dropdown-root {
        width: 90%;
        //   max-width: 350px;
        .Dropdown-control {
          border-radius: 5px;
          color: $white;
          font-size: 22px;
          .Dropdown-placeholder {
            font-size: 18px;
          }
        }
      }
      .modal__task__span-icon {
        padding: 9px;
        background: rgba($color: $black, $alpha: 0.1);

        border-radius: 5px;
        &:hover {
          opacity: 0.9;
        }
      }
    }

    .modal-button {
      padding: 10px 20px;
      font-size: 18px;
      transition: 0.3s ease all;

      &:hover {
        opacity: 0.9;
      }
    }
  }
}
