.navbar__header {
  width: 100%;
  height: 60px;
  box-shadow: 4px 4px 10px rgba($color: $black, $alpha: 0.3);
  padding: 10px 70px;
  background: $dark-blue;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;

  .container {
    width: 100%;
    height: 100%;
    max-width: 1000px;
    margin: 0px auto;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      color: $white;
      font-size: 24px;
      line-height: 32px;
      font-weight: 700;
      font-family: "Dancing Script";
      text-shadow: 2px 2px $black;
      padding: 5px;
    }

    .navbar__icon-span {
      svg {
        fill: $white;
        padding: 5px;
      }
    }

    .hambuerguerMenu {
      position: absolute;
      right: 15px;
      color: $white;
      svg {
        animation-name: flipInX;
        animation-duration: 0.6s;
        animation-iteration-count: initial;
      }
    }

    // .navbar__header-logout {
    //   position: absolute;
    //   right: 15px;
    //   display: flex;
    //   align-items: center;
    //   text-shadow: none;
    //   font-size: 20px;
    //   border: 1px solid transparent;
    //   color: $primary-color;
    //   .navbar__header-logout-span {
    //     font-family: "Oswald";

    //     display: none;
    //     color: $white;
    //   }
    //   svg {
    //     fill: none;
    //     stroke: $primary-color;
    //     padding: 0px;
    //   }
    // }
  }
}
.centinell {
  width: 100%;
  min-height: 100vh;
  position: absolute;
  top: 60px;
}
@media screen and (min-width: 768px) {
  .navbar__header {
    padding: 10px 0px;
    .container {
      span {
        font-size: 32px;
        line-height: 42px;
        &:hover {
          cursor: pointer;
        }
      }
      .navbar__header-logout {
        padding: 0px 10px;
        .navbar__header-logout-span {
          font-size: 22px;
          text-shadow: none;
          display: block;
        }

        &::after {
          content: "";
          width: 0%;
          display: block;
          background-color: $white;
          height: 1px;
          position: absolute;
          bottom: 0;
          left: 0;
          transition: 0.5s;
        }
        &:hover {
          &::after {
            content: "";
            width: 100%;
          }
        }
      }
    }
  }
}
