* {
  margin: 0px;
  padding: 0px;
  border: none;
  text-decoration: none;
  list-style: none;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
}
