.todos__container {
  width: 90%;
  max-width: 1000px;
  margin: 0px auto;
  text-align: center;
  margin-top: 35px;
  height: 95vh;

  .todos__title {
    margin-bottom: 75px;
    margin-top: 50px;
    font-family: "Dancing Script";
    .specialSentence {
      color: $primary-color;
    }
  }

  .todos__form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 400px;
    margin: 0px auto 60px auto;
    .todos__form-inputGroup {
      width: 100%;
      display: flex;
      justify-content: center;
      width: 100%;
      position: relative;
    }

    .todos__input {
      width: 80%;
      max-width: 400px;
      outline: none;
      padding: 20px 50px 20px 10px;
      border-bottom: 2px solid rgba(129, 86, 86, 0.5);
      font-size: 16px;
      line-height: 16px;
      margin-bottom: 10px;

      &::placeholder {
        font-size: 14px;
        line-height: 20px;
      }
    }
    .todos__dropdown-container {
      width: 100%;
      margin-bottom: 20px;
      .Dropdown-root {
        width: 80%;
        max-width: 350px;
        padding: 10px;
        .Dropdown-control {
          background-color: $dark-blue;
          border-radius: 5px;
          color: $white;
        }
      }
    }

    .todos__form-button {
      padding: 7px 12px;
      position: absolute;
      right: 15px;
      bottom: 25px;
      border-radius: 5px;

      svg {
        width: 28px;
        height: 28px;
      }
    }
  }
  .todos__dropdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

    .todos__span-icon {
      padding: 7px;
      background: rgba($color: $black, $alpha: 0.1);
      border-radius: 5px;
    }
  }
  .Dropdown-root {
    width: 45%;
    max-width: 180px;
    margin-right: 5px;
    font-size: 16px;
  }
  .todos__filter-container {
    margin: 40px 0px 20px 0px;

    .todos__filter-button {
      padding: 8px 15px;
      border-radius: 5px;
      margin-right: 20px;
      color: $white;
      background: rgba($color: $black, $alpha: 0.3);
      font-size: 15px;
    }

    .Completed,
    .uncompleted {
      padding: 8px 15px;
      border-radius: 5px;
      margin-right: 20px;
    }
    .selected {
      background: $dark-blue;
    }
    .all,
    .uncompleted {
      width: 67px;
    }
  }

  .todos__Grid {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1000px;
    background: url("/src/assets/images/Cute_Astronaut_Character_generated.jpg");
    background-position-x: center;
    background-size: contain;
    background-repeat: no-repeat;

    height: 500px;
    .todo__grid-todo {
      width: 100%;
      max-width: 600px;
      box-shadow: 4px 4px 10px rgba($color: $black, $alpha: 0.5);
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px auto;
      padding: 5px 10px;
      background: $dark-blue;
      animation-name: fadeInLeft;
      animation-duration: 0.5s;
      animation-iteration-count: initial;

      border-radius: 5px;
      .todos__grid-todo-description {
        font-size: 18px;
        color: $white;
        .checkbox {
          margin-right: 10px;
        }
      }
      svg {
        transform: rotate(30deg);
        fill: rgba($color: $dark-blue, $alpha: 0.5);
        stroke: rgba($color: $dark-blue, $alpha: 1);
      }

      .dropDown {
        display: none;
      }
    }

    .todo-completed {
      text-decoration: line-through $white;
    }
  }
}

@media screen and(min-width:768px) {
  .todos__container {
    margin-top: 60px;

    .todos__title {
      font-size: 42px;
      line-height: 52px;
      margin-bottom: 90px;
      margin-top: 30px;
    }

    .todos__form {
      margin-bottom: 70px;

      .todos__input {
        width: 100%;
        font-size: 22px;
        line-height: 22px;
        transition: 0.6s ease all;
        margin-bottom: 20px;
        // border: 1px solid transparent;
        &::placeholder {
          font-size: 22px;
          line-height: 22px;
        }

        &:hover {
          border-bottom: 2px solid $dark-blue;
          cursor: pointer;
        }
        &:focus {
          border-bottom: 2px solid $dark-blue;
        }
      }

      .todos__form-button {
        font-size: 18px;
        bottom: 35px;
        right: -25px;
        cursor: pointer;
        svg {
          width: 35px;
          height: 35px;
        }
      }
    }

    // error en los estilos "mejorar su uso"
    .todos__dropdown-container {
      .todos__span-icon {
        padding: 5px;

        svg {
          width: 30px;
          height: 30px;
        }
        &:hover {
          transition: 0.3s ease all;
          background: rgba($color: $black, $alpha: 0.3);
        }
      }
    }
    .Dropdown-root {
      font-size: 18px;
      &:hover {
        cursor: pointer;
      }
    }
    // error en los estilos "mejorar su uso"

    .todos__filter-container {
      margin-bottom: 5px;
      .todos__filter-button {
        font-size: 18px;
        &:hover {
          cursor: pointer;
        }
      }
      .all,
      .uncompleted {
        width: 80px;
      }
    }
    .todos__Grid {
      background-position-y: -90px;
      .todo__grid-todo {
        transition: 0.6s ease all;
        margin-top: 30px;
        .todos__grid-todo-description {
          font-size: 22px;
          line-height: 22px;
          color: $white;
        }

        &:hover {
          background: rgba($color: $dark-blue, $alpha: 0.9);
          cursor: pointer;
          svg {
            fill: $primary-color;
            stroke: rgba($color: $white, $alpha: 0.7);
          }
        }
      }
    }
  }
}
