.todos__container {
  width: 90%;
  max-width: 1000px;
  margin: 0px auto;
  text-align: center;
  margin-top: 35px;

  .todos__title {
    margin-bottom: 75px;
    margin-top: 50px;
    font-family: "Dancing Script";
    .specialSentence {
      color: $primary-color;
    }
  }

  .todos__inputGroup {
    margin-bottom: 40px;
    display: flex;
    justify-content: center;

    .todos__input {
      width: 80%;
      max-width: 500px;
      outline: none;
      padding: 20px 25px;
      margin-right: 5px;
      border-bottom: 2px solid rgba(0, 0, 0, 0.5);
      font-size: 16px;
      line-height: 16px;
      //   box-shadow: 3px 3px 7px $black;
      //   border-radius: 5px;

      &::placeholder {
        font-size: 14px;
        line-height: 20px;
      }
    }

    .todos__inputGroup-button {
      border-radius: 5px;
      transition: 0.6s ease all;
      background: $dark-blue;

      padding: 5px 20px;
      color: $white;
      box-shadow: 3px 3px 7px rgba($color: $black, $alpha: 0.5);
    }
  }
  .todos__filter-container {
    margin: 40px 0px 20px 0px;
    .todos__filter-button {
      padding: 8px 15px;
      border-radius: 5px;
      margin-right: 20px;
      color: $black;
      background: $white;
    }

    .Completed,
    .uncompleted {
      padding: 8px 15px;
      border-radius: 5px;
      margin-right: 20px;
      //   background: $dark-blue;
    }
    .all,
    .uncompleted {
      width: 80px;
    }
  }

  .todos__Grid {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    max-width: 1000px;

    .todo__grid-todo {
      width: 100%;
      max-width: 600px;
      box-shadow: 4px 4px 10px rgba($color: $black, $alpha: 0.5);
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 10px auto;
      padding: 5px 10px;
      background: $primary-color;

      border-radius: 5px;
      .todos__grid-todo-description {
        font-size: 18px;
        color: $white;
        .checkbox {
          margin-right: 10px;
        }
      }
      svg {
        transform: rotate(90deg);
        stroke: $white;
      }

      .dropDown {
        display: none;
      }
    }

    .todo-completed {
      text-decoration: line-through $white;
    }
  }
}

@media screen and(min-width:768px) {
  .todos__container {
    margin-top: 60px;

    .todos__title {
      font-size: 42px;
      line-height: 52px;
      margin-bottom: 90px;
      margin-top: 70px;
    }

    .todos__inputGroup {
      margin-bottom: 60px;

      .todos__input {
        margin-right: 30px;
        font-size: 22px;
        line-height: 22px;
        transition: 0.6s ease all;
        // border: 1px solid transparent;
        &::placeholder {
          font-size: 22px;
          line-height: 22px;
        }

        &:hover {
          border-bottom: 2px solid $dark-blue;
          cursor: pointer;
        }
        &:focus {
          border-bottom: 2px solid $dark-blue;
        }
      }

      .todos__inputGroup-button {
        width: 15%;
        font-size: 16px;
        transition: 0.4s ease all;
        border: 1px solid transparent;
        cursor: pointer;

        // &:hover {
        //   //   background: rgba($color: $dark-blue, $alpha: 0.9);
        //   border: 1px solid $white;
        // }
      }
    }
    .todos__filter-container {
      margin-bottom: 10px;
      .todos__filter-button {
        font-size: 18px;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .todos__Grid {
      .todo__grid-todo {
        transition: 0.6s ease all;
        margin-top: 30px;
        .todos__grid-todo-description {
          font-size: 22px;
          line-height: 22px;
          color: $white;
          .checkbox {
            margin-right: 20px;
          }
        }
        &:hover {
          background: rgba($color: $dark-blue, $alpha: 0.9);
          cursor: pointer;
        }
      }
    }
  }
}
